body {
  margin: 0;
  padding: 0;
  background: linear-gradient(purple, black);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  background: linear-gradient(purple, black);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
}

.login h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.login input {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #0000ff;
  border-radius: 5px;
}

.login button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#show {
  position: relative;
  left: 180px;
  bottom: 40px;
}

.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button:hover {
  background-color: purple;
}

.forget {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .login {
    width: 100%;
  }
}
