<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="icono" rel="icon" href="../pictures/logo.ico" />
    <link rel="stylesheet" href="style.css">
    <title>Sing up</title>
  </head>
  <body>
    <div class="singup">
      <h2>Sing up</h2>
      <form action="singup">
        <input
          type="text"
          id="Name"
          placeholder="Primer nombre"
          required="Este campo es necesario"
        />
        <input
          type="text"
          id="Sname"
          placeholder="Segundo nombre"
          required="Este campo es necesario"
        />
        <input
          type="text"
          id="Lname"
          placeholder="Primer apellido"
          required="Este campo es necesario"
        />
        <input
          type="text"
          id="SlName"
          placeholder="Segundo apellido"
          required="Este campo es necesario"
        />
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="" id=""/>
        <input type="text" id="UserName" placeholder="Escribe tu usuario" />
        <input
          type="password"
          id="password"
          placeholder="ingrese su contraseña"
        />
        <input type="checkbox" id="show1" />
        <input
          type="password"
          id="password2"
          placeholder="confirma tu contraseña"
        />
        <input type="checkbox" id="show2" />
        <button>Crear cuenta</button>
      </form>
    </div>
  </body>
  <script src="./script.js"></script>
</html>