<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="/pictures/logo.jpg" />
    <title>Cuenta</title>
  </head>
  <body>
    <div class="login">
        <h2>Login in</h2>
        <form action="">
          <input
            type="text"
            placeholder="Username"
            required="Ingrese su usuario"
          />
          <br />
          <input
            type="password"
            id="password"
            placeholder="Password"
            required="Ingrese la contraseña"
          />show password
          <input type="checkbox" id="show" />
          <a href="../bocado/index.html" target="_blank"><button type="submit">Ingresar</button></a>
          <button type="submit">Registrarse</button>
          <a href="" class="forget">Has olvidado tu contraseña?</a>
        </form>
      </div>
    </body>
    <script src="./script.js"></script>
    </div>
  </body>
</html>
