* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6e117e;
}

header {
  background-color: #6e117e;
  display: flex;
  position: static;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  margin-left: 10px;
  color: white;
}

nav {
  margin-right: 20px;
}

nav ul {
  display: flex;
}

nav li {
  display: flex;
  margin-right: 5px;
  margin-left: 35px;
}

nav a {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: white;
}
/*Comienza el diseño de las cards de la seccion recomendados*/
.recomen {
  background-color: #6e117e;
}

.cards {
  display: flex;
  height: auto;
  border-radius: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  background-color: #fff;
}

.card {
  height: 100px;
  position: relative;
  flex: 0 0 350px;
  overflow: hidden;
  margin-left: 2.5rem;
  border-radius: 10px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.8);
}

.card img {
  width: 100%;
}

/*Estilos del boton y animacion*/
.contentGow button {
  height: 40px;
  width: 100px;
  margin: 20px;
  border: 3px solid skyblue;
  border-radius: 18px;
  background: linear-gradient(45deg, skyblue 50%, transparent 50%);
  background-position: 100%;
  background-size: 250%;
  transition: 0.7s background;
}

.contentGow button:hover {
  background-position: 0;
}

.contentZelda button {
  height: 40px;
  width: 100px;
  margin: 20px;
  border: 3px solid lightgreen;
  border-radius: 18px;
  background: linear-gradient(45deg, lightgreen 50%, transparent 50%);
  background-position: 100%;
  background-size: 250%;
  transition: 0.7s background;
}

.contentZelda button:hover {
  background-position: 0;
}

.contentSpider button {
  height: 40px;
  width: 100px;
  margin: 20px;
  border: 3px solid red;
  border-radius: 18px;
  background: linear-gradient(45deg, red 50%, transparent 50%);
  background-position: 100%;
  background-size: 250%;
  transition: 0.7s background;
}

.contentSpider button:hover {
  background-position: 0;
}
/*Estilos del boton buy (Exclusivo de Spider-man)*/
.contentSpider #buy {
  background: linear-gradient(45deg, black 50%, transparent 50%);
  background-position: 100%;
  background-size: 250%;
  transition: 0.7s background;
}

.contentSpider #buy:hover {
  background-position: 0;
  color: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: #6e117e;
  margin: 20px;
}
