* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6e117e;
}

header {
  background-color: #6e117e;
  display: flex;
  position: static;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  margin-left: 10px;
  color: white;
}

nav {
  margin-right: 20px;
}

nav ul {
  display: flex;
}

nav li {
  display: flex;
  margin-right: 5px;
  margin-left: 35px;
}

nav a {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: white;
}
/*Comienza el diseño de las cards de la seccion recomendados*/
.recomen {
  background-color: #6e117e;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
  display: flex;
  height: auto;
  border-radius: 10px ;
  overflow-x: auto;
  scrollbar-width: none;
  background-color: #fff;
}

.card{
  position: relative;
  flex: 0 0 309px;
  height: 250px;
  overflow: hidden;
  margin-left: 2.5rem;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0,0,0,0.8);
}

.card img{
  width: 100%;
}

